<div class="registration cover" id="registration">
  <div class="container">
    <div class="widget">
      <div class="header">
        <h2>Registration</h2>
      </div>
      <div class="forms">
        <div class="initial">
          <div class="row">
            <div class="form">
              <label>First Name</label>
              <input type="text" name="firstname" placeholder="First Name">
            </div>
          </div>
          <div class="row">
            <div class="form">
              <label>Last Name</label>
              <input type="text" name="lastname" placeholder="Last Name">
            </div>
          </div>
          <div class="row">
            <div class="form">
              <label>Email</label>
              <input type="email" name="email" placeholder="Email">
            </div>
          </div>
          <div class="row">
            <div class="form">
              <label>Password</label>
              <input type="password" placeholder="Password">
            </div>
          </div>
          <div class="row">
            <div class="form">
              <label id="confirm">Confirm Password</label>
              <input type="password" placeholder="Confirm Password">
            </div>
          </div>
        </div>
        <div class="progress"></div>
        <div class="footer">
          <div class="info">
            <span>Step <a class="step">1</a> of 3</span>
            <div class="buttons">
              <button class="cancel">Cancel</button>
              <button class="next page2">Next</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
