daemon off;

worker_processes <%= ENV["NGINX_WORKERS"] || 4 %>;

events {
  use epoll;
  accept_mutex on;
  multi_accept on;
  worker_connections 1024;
}

http {
  gzip on;
  gzip_disable "MSIE [1-6]\.(?!.*SV1)";
  gzip_comp_level 2;
  gzip_min_length 512;

  server_tokens off;

  tcp_nopush on;
  tcp_nodelay on;

  log_format l2met "measure#nginx.service=$request_time request_id=$http_x_request_id";
  access_log logs/nginx/access.log l2met;
  error_log logs/nginx/error.log;

  include mime.types;
  default_type application/octet-stream;
  sendfile on;

  server {
    listen <%= ENV["PORT"] %>;
    server_name _;
    keepalive_timeout 5;
    root dist;
    index index.html;

    <% if ENV["BASIC_AUTH_USER"] && ENV["BASIC_AUTH_PASSWORD"] %>
      auth_basic "Restricted";
      auth_basic_user_file <%= "#{ENV["HOME"]}/config/htpasswd" %>;
    <% end %>

    <% if ENV["API_URL"] %>
      location <%= ENV["API_PREFIX_PATH"] || "/api/" %> {
        proxy_pass <%= ENV["API_URL"] %><%= ENV["API_PREFIX_PATH"] || "api/" %>;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-NginX-Proxy true;
        proxy_ssl_session_reuse off;
        proxy_redirect off;
        <% if ENV["NGINX_DEBUG"] %>add_header X-Ember-Cli-Proxy on;<% end %>
      }
    <% end %>

    location ~* \index.html$ {
      expires off;
      <% if ENV["NGINX_DEBUG"] %>add_header X-Ember-Cli-Html on;<% end %>
    }

    location ~* \.(ogg|ogv|svgz|mp4|css|rss|atom|js|jpg|jpeg|gif|png|ico|zip|tgz|gz|rar|bz2|doc|xls|exe|ppt|tar|mid|midi|wav|bmp|rtf|html|txt|htm)$ {
      expires max;
      log_not_found off;
      access_log off;
      add_header Cache-Control public;
      fastcgi_hide_header Set-Cookie;
      <% if ENV["NGINX_DEBUG"] %>add_header X-Ember-Cli-Speed on;<% end %>
    }

    location ~* \.(eot|oft|svg|ttf|woff)$ {
      add_header Access-Control-Allow-Origin *;
      expires max;
      log_not_found off;
      access_log off;
      add_header Cache-Control public;
      fastcgi_hide_header Set-Cookie;
      <% if ENV["NGINX_DEBUG"] %>add_header X-Ember-Cli-Font on;<% end %>
    }

    location ~ /\. {
      deny all;
      <% if ENV["NGINX_DEBUG"] %>add_header X-Ember-Cli-Denied on;<% end %>
    }

    location / {
      expires off;
      try_files $uri $uri/ /index.html =404;
      <% if ENV["NGINX_DEBUG"] %>add_header X-Ember-Cli-Base-Location on;<% end %>
    }
  }
}
