<div class="navbar navbar-default navbar-static-bottom">
	<div class="container">
		<div class="navbar-header">
			<p class="navbar-text">&copy; 2014 ClassStatus</p>
		</div>
		<ul class="nav navbar-nav navbar-left">
			<li><a href="/about">About</a></li>
			<li><a href="/billing">Billing</a></li>
			<li><a href="http://blog.classstatus.co">Blog</a></li>
			<li><a href="/privacy">Privacy</a></li>
		</ul>
		<ul class="nav navbar-nav navbar-right social">
			<li><p class="navbar-text">Connect with Us</p></li>
			<li>
				<a href="http://facebook.com/classstatus" target="_blank">
           			<i class="fa fa-facebook-square"></i>
           		</a>
           	</li>
			<li>
				<a href="http://twitter.com/classstatus" target="_blank">
            		<i class="fa fa-twitter-square"></i>
          		</a>
          	</li>
			<li>
				<a href="http://instagram.com/classstatus" target="_blank">
            		<i class="fa fa-instagram"></i>
            	</a>
            </li>   
		</ul>
	</div>
</div>
