<nav class="navbar navbar-default navbar-static-top" role="navigation">
	<div class="container">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">
			  <img src="/assets/logo.png">
			  <span>ClassStatus</span>
			</a>
		</div>

		<div class="collapse navbar-collapse" id="navigation">
			<form class="navbar-form navbar-left form-inline" role="search">
				<div class="form-group has-feedback">
					<label class="sr-only">Search</label>
					<span class="search-icon"><i class="fa fa-search"></i></span>
					<input type="search" class="form-control" placeholder=""/>
					<button action="/class_sessions" class="searchbutton">SEARCH</button>
				</div>
			</form>

			<ul class="nav navbar-nav navbar-left">
				<li><a href="/class_sessions">Classes</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
			{{#if session.isAuthenticated}}
				<li><a {{action 'invalidateSession'}}>Sign out</a></li>
			{{else}}
				<li><a href="/user/sign_up">Register</a></li>
				<li>{{#link-to 'login'}}Sign in{{/link-to}}</li>
			{{/if}}
			</ul>
		</div>
	</div>
</nav>
