<div class="cover" id="signin">
	<div class="container">
		<div class="widget">
			<i id="close" class="fa fa-times"></i>
			<h1>Login</h1>
			<form class="forms" {{action 'authenticate' on='submit'}}>
				<div class="normal">
					<div class="form-group">
						{{input type='email' class='form' placeholder="Email" value=identification}}
						{{input type="password" class="form" placeholder="Password" value=password}}
					</div>
					<div class="options">
						<label id="checked"><input id="box" type="checkbox">Keep me logged in</label>
						<a id="forgot" href="#">Forgot Password?</a>
					</div>
					<button type="submit" class="login">Log In</button>
				</div>
			</form>
			<div class="footer">
				<div class="content">
					<p>Don&#39;t have an account?</p>
					<a href="#">Create an account</a>
				</div>
			</div>
		</div>
	</div>
</div>
